.course-profesor-name:hover{
  cursor:pointer;
  color: rgb(221, 90, 90);
}

.course-name:hover{
  cursor:pointer;
  color: rgb(221, 90, 90);
}

.course-container{
  min-height: 100px;
  max-height: 200px;
  width: 100%;
  text-align: center;
}