.layout-contents-container{
    
}

.contents-container{
    display: grid;
    grid-template-columns: minmax(200px,100%);
    grid-template-rows: minmax(50px,auto) ;
}

.contents-item{
    border: 2px solid greenyellow;
    margin-bottom: 10px;
    text-align: center;
}