.course-container{
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: auto;
        background-color: rgb(78, 33, 33);
        color: bisque;
        text-align: center;
        gap: 5px;
        text-align: center;
}

.course-item{
    margin-bottom: 10px;
    background-color: rgb(138, 59, 59);
}