.course-container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        color: bisque;
        row-gap: 30px; ;
        text-align: center;
}


.course-item{
    border: 2px solid yellowgreen;
}

