.layout-pc{
  display: grid;
  grid-template-columns: minmax(150px,250px) auto;
  grid-template-rows: minmax(100vh,auto);
  gap: 20px;
}

.layout-phone{
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 599px;
  min-height:100vh ;
  max-height:auto ;
}

.layout-phone >*{
  width: 80%;
  align-self: center;
}



.courses-filter-pc{
  border: 2px solid springgreen;
}