.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh;

}

.login-container{
    border-right: 1px solid white;
    text-align: center;
}

.login-item{
    margin-top: 10vh;
}

.register-container{
    border-left: 1px solid white;
    text-align: center;
}

.register-item{
    margin-top: 10vh;
}