<div class="login-container">
    <form action="">
    
        <div class="login-username">
            <label for="Username">Username </label>
            <input type="text" name="Username" id="Usernamelg" placeholder="..."
            [(ngModel)]="username">
        </div>

    <div class="login-password">
        <label for="password">Password</label>
        <input type="password" name="password" id="passwordlg" placeholder="..."
        [(ngModel)]="password">
    </div>


   <button type="submit" (click)="loginUser()">Log in</button>

    </form>
</div>