<div class="content-container">
    <div class="content-button-edit">
        <button *ngIf="isProfessorAndNoEditMode()" (click)="editText()">Edit</button>
        <button *ngIf="!isProfessorAndNoEditMode()" (click)="CancelEdit()">Cancel edit</button>
    </div>
    

    <div class="content-item-container" *ngIf="!editMode">
        <div class="content-item-title">
            <h2>{{contentTitle}}</h2></div>
        <div class="content-item-content">
            <h2>{{contentText}}</h2></div>
    </div>

    <div class="content-item-edit" *ngIf="editMode">

        <input  type="text" name="title" id="title" placeholder="title"
              [(ngModel)]="titleModified"/>

        <textarea  type="text" name="Content" id="Content" placeholder="Content"
              [(ngModel)]="contentModified"></textarea>

          <button type="submit" (click)="saveContent(contentId)">save content</button>
    </div>
    
</div>
