<div class="register-container">

    <div *ngIf="!validInputs">
        invalid inputs
    </div>
    <form action="" (ngSubmit)="registerUser()">
        <div>
            <label for="Username">Username</label>
            <input type="text" name="Username" id="Username" placeholder="Username" 
            required minlength="5" [(ngModel)]="userToRegister.username">
        </div>

        

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="password"
        required minlength="5" [(ngModel)]="userToRegister.password">
    </div>




    <div>
        <label for="firstname">First Name </label>
        <input type="text" name="firstname" id="firstname" placeholder="firstname"
        required minlength="4" [(ngModel)]="userToRegister.name">
    </div>

    <div>
        <label for="lastname">Last Name </label>
        <input type="text" name="lastname" id="lastname" placeholder="lastname"
        required minlength="4" [(ngModel)]="userToRegister.lastName">
    </div>

    <div>
        <label for="mail">Mail</label>
        <input type="mail" name="mail" id="mail" placeholder="mail"
        required minlength="4" email="true"  [(ngModel)]="userToRegister.mail">
    </div>


    <div>
        <label for="rol">User Rol</label>
        <select name="select-role" [(ngModel)]="userToRegister.role">
            <option selected="selected" [ngValue]="roles[0][1]" >
                {{roles[0][0]}}
            </option>
            <option [ngValue]="roles[1][1]" >
                {{roles[1][0]}}
            </option>
        </select>
    </div>

   <button type="submit" >Register</button>

    </form>
</div>