.layout-pc{
        display: grid;
        grid-template-columns: minmax(180px,300px) minmax(180px,300px)  minmax(180px,300px);
        grid-template-rows: auto;
        color: bisque;
        gap: 20px;
}

.course-item{
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid yellowgreen;
}


.show-containers{
    border: 2px solid palegreen;
    text-align: center;
}