.pc-layout{
    display: grid;
    grid-template-columns: minmax(175px,275px) minmax(375px,550px) minmax(175px,275px);
    gap: 10px;
    grid-template-rows: minmax(100vh,auto);
    background-color: rgb(38, 35, 35);
    } 


.phone-layout {
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 56, 56);
    min-width: 200px;
    max-width: 599px;
    min-height:100vh ;
    max-height:auto ;
}

.left-menu-phone{
    order: 3;
    width: 80%;
    align-self: center
}

.principal-phone{
      order: 1;
      margin-bottom: 10px;
      width: 80%;
      align-self: center
}

.right-menu-phone{
    order: 2;
    margin-bottom: 10px;
    width: 80%;
    align-self: center
}


    
