<div  [ngClass]="{'phone-layout': isPhonePortrait,'pc-layout': isWebPortrait}">
    <div class="left-menu" [ngClass]="{'left-menu-phone': isPhonePortrait}">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Officiis, esse doloremque? Quam veritatis illum sed dolorem adipisci,
       facere corrupti incidunt esse nobis provident.
       Eos molestiae excepturi assumenda eligendi culpa reiciendis.
       orem ipsum dolor sit amet consectetur adipisicing elit. 
      Officiis, esse doloremque? Quam veritatis illum sed dolorem adipisci,
       facere corrupti incidunt esse nobis provident.
       Eos molestiae excepturi assumenda eligendi culpa reiciendis.
    </div>
    <div class="principal-content" [ngClass]="{'principal-phone': isPhonePortrait}">
        <home-course-list></home-course-list>
    </div>
    <div *ngIf="isProfessor()" class="right-menu" [ngClass]="{'right-menu-phone': isPhonePortrait}">
      <app-create-course></app-create-course>
    </div>
</div>

